name: deploy

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew bootJar

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name : Build Docker Image & Push to Docker Hub
        run: |
          docker build . -t ${{ secrets.DOCKER_HUB_USERNAME }}/
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/easystock
          
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: |
            cd /home/ubuntu/
            sudo touch docker-compose-prod.yml
            echo "${{ vars.DOCKER_COMPOSE }}" | sudo tee docker-compose-prod.yml > /dev/null
            sudo touch .env
            echo "${{ vars.ENV_FILE }}" | sudo tee .env > /dev/null
            sudo chmod 666 /var/run/docker.sock
            sudo docker rm -f $(docker ps -qa)
            sudo docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/easystock
            sudo docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/easystockflask
            docker-compose -f docker-compose-prod.yml --env-file ./.env up -d
            docker image prune -f
